:root{
    --texto: rgb(188, 187, 183);
    --caja-borde: rgb(47, 43, 43, 0.75);
    --caja-fondo: rgb(0, 0, 0, 0.3333);
    --boton-hover: antiquewhite;
}

*{
    font-family: 'Roboto', sans-serif;
    color: var(--texto);
    box-sizing: border-box;
}
html{
    min-height: 100%;
    position: relative;
}

body{
    font-family: 'Roboto', sans-serif;
    background: rgba(38, 63, 206, 0.849);
    background-size: cover;
    background-repeat: unset;
    height: 100vh;
    display: flex;
    flex-direction: column;
}